@use "../../scss/mixin/mixin" as *;

.app-home{
  height: 100vh;
  background-color: #F9FAFA;
  color: var(--color-black);
  overflow: auto;
}

.home-header{
  background-color: var(--color-white);
  border-bottom: 1px solid #E1E3E1;
  box-shadow: 0 1px 0 rgba(31,35,40,0.04);
  &--container{
    @include flex-base();
    max-width: 1344px;
    height: var(--nav-height);
    margin: auto;
  }
}

.header-github{
  @extend .icon-btn;
  @include flex-base(true);
  &:hover{
    background-color: var(--color-white-e);
  }
}

.home-main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: var(--pd-large);
  padding: 0 var(--pd-large);
  & .main-link{
    margin: var(--mg-small) 0;
    font-size: var(--h4-size);
    text-decoration: none;
    border: var(--border-1) {
      radius: var(--border-radius-large);
    };
    background-color: var(--color-white);
    & h5{
      line-height: var(--lh-medium);
      padding: 0 var(--pd-medium);
    }
    & .desc-info{
      display: block;
      margin: 0 var(--pd-small) var(--pd-small);
      font-size: var(--h6-size);
      color: var(--color-black-6);
    }
  }

  & .m-bg{
    width: 100%;
    border-radius: var(--border-radius-large);
  }

  & .main-link:hover{
    text-decoration: underline;
  }
}

.test-module{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--pd-large);
}

.app-home-logo{
  height: var(--lh-small);
}