.app-message{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: transparent;
  overflow: auto;
  z-index: var(--z-index-z);
}

.message-body{
  max-width: 600px;
  min-height: 200px;
  margin: 80px auto 0 auto;
  background-color: #FFFFFF;
  box-shadow: var(--color-shadow-panel);
  & ul {
    margin: 10px 20px 20px 60px;
  }
  & li{
    display: grid;
    align-items: center;
    height: 40px;
    margin-bottom: 10px;
  }
}

.message-header{
  position: sticky;
  top: 0;
  display: flex;
  height: 50px;
  & div{
    width: 36px;
    height: 36px;
    padding: 6px;
    margin: 10px 0 0 10px;
    background-color: #FFC12E;
  }
  & span{
    display: inline-block;
    margin: 16px 0 0 14px;
    font-weight: bolder;
  }
  & button{
    height: 32px;
    width: 56px;
    border: 0;
    margin-left: auto;
    background-color: transparent;
    transition: background-color 0.3s;
    cursor: pointer;
    &:hover{
      color: #FFFFFF;
      background-color: red;
    }
  }
}