.app-home{
  height: 100vh;
}

.home-header{
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.header-github{
  margin-right: 30px;
  margin-left: auto;
  width: 24px;
  height: 24px;
}

.home-main{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 120px);
  & a{
    color: #FFFFFF;
    border-radius: inherit;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}