@use "../../scss/mixin/mixin" as *;

.app-home{
  height: 100vh;
  background-color: #F9FAFA;
  color: var(--color-black);
  overflow: auto;
}

.home-header{
  background-color: var(--color-white);
  border-bottom: 1px solid #E1E3E1;
  box-shadow: 0 1px 0 rgba(31,35,40,0.04);
  &--container{
    @include flex-base();
    max-width: 1344px;
    height: var(--nav-height);
    margin: auto;
  }
}

.header-github{
  @extend .button-base;
  @include flex-base(true);
  &:hover{
    background-color: var(--color-white-e);
  }
}

.home-main{
  @include flex-base(true);
  min-height: calc(100vh - 120px);
  margin-left: var(--mg-small);
  & .main-link{
    margin: var(--mg-small);
    font-size: var(--h4-size);
    text-decoration: none;
    text-align: center;
    & span{
      @include flex-base(trie);
    }
  }

  & .main-link:hover{
    text-decoration: underline;
  }
}

.app-home-logo{
  height: var(--lh-small);
}