/*green dot*/
.green-mark::before {
    content: "•";
    position: absolute;
    left: 5px;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: auto 0;
    border-radius: var(--border-radius-small);
    font-size: var(--h4-size);
    color: #2BC385;
}

.pd-m{
    padding: var(--pd-medium);
}

.mgl-auto{
    margin-left: auto;
}

.mgl-medium{
    margin-left: var(--mg-small);
}

.mgr-medium{
    margin-right: var(--mg-small);
}

.empty-flex{
    flex: 1;
    visibility: hidden;
}
