
.green-mark::before {
    content: "•";
    position: absolute;
    left: 5px;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: auto 0;
    border-radius: var(--border-radius-small);
    font-size: var(--h4-size);
    color: #2BC385;
}

.pd-m{
    padding: var(--pd-medium);
}

.mgl-auto{
    margin-left: auto;
}

.mgl-medium{
    margin-left: var(--mg-small);
}

.mgr-medium{
    margin-right: var(--mg-small);
}

.empty-flex{
    flex: 1;
    visibility: hidden;
}

/*弹窗窗口的样式集合*/
details > summary{
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%;
    cursor: pointer;
}
details > summary > span{
    padding: 0 var(--pd-ultra-small);
    color: var(--color-white);
}
details[open]>summary::before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: var(--z-index-e);
    display: block;
    cursor: default;
    content: " ";
    background: transparent;
}
details[open]>summary.hv-bg{
    background-color: var(--hover-bg);
}
details[open] .expand-mg{
    transform: translateY(4px);
}
