:root{
  --el-menu-item-height: 40px;
  --el-font-size-base: var(--body-font-size);
  --el-pagination-font-size: var(--body-font-size);
}

.el-table{
  font-size: var(--body-font-size);
}

.el-pagination{
  justify-content: center;
  margin-top: var(--mg-medium);
}