.admin-header{
  position: sticky;
  top: 0;
  z-index: var(--z-index-z);
  display: flex;
  align-items: center;
  background-color: var(--header-bg-color);
  backdrop-filter: blur(5px);
  border-bottom: var(--color-border-1);
}

.header-menu-card{
  position: relative;
  height: 100%;
  & .header-menu-panel{
    position: absolute;
    top: 50px;
    background-color: #ffffff;
    box-shadow: var(--color-shadow-large);
    width: 260px;
    border: var(--color-border-1);
    border-radius: var(--border-radius-full);
  }
  & .menu-panel-content{
    overflow: auto;
    height: 400px;
    display: grid;
    & ul{
      margin: 12px;
      height: 334px;
    }

    & .menu-item{
      display: grid;
      grid-template-columns: 1fr 10px;
      height: 40px;
      line-height: 40px;
      align-items: center;
      margin-bottom: 6px;
      cursor: pointer;
      padding: 0 10px;
      &:hover{
        background-color: var(--header-menu-hove-color);
      }
      & i{
        display: flex;
        align-items: center;
      }
      & .menu-cache {
        width: 8px;
        height: 8px;
        border-radius: var(--border-radius-small);
        background-color: #2BC385;
      }
    }

    & .header-menu-active{
      background-color: #CFE8FD;
      border-left: 2px solid #0069C2;
      color: var(--header-menu-active-color);
      font-weight: bold;
    }
  }
}

.menu-collapse-icon {
  & svg{
    transition: transform 0.3s;
  }
  & .icon-rotate{
    transform: rotate(180deg);
  }
}