.admin-header{
  position: sticky;
  top: 0;
  z-index: var(--z-index-b);
  display: flex;
  align-items: center;
  background-color: var(--header-bg-color);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid var(--border-color);
  padding: 0 20px;
}

.admin-header-menu-card{
  position: relative;
  margin-left: 15px;

  & button:first-child {
    width: initial;
    background-color: #0D99FF;
    color: #FFFFFF;
    border-color: #008bef;
    & span{
      padding: 0 6px;
      font-weight: bolder;
    }
    &:hover{
      background-color: #008bef;
    }
  }

  & .admin-header-menu-panel{
    position: absolute;
    top: 40px;
    background-color: #ffffff;
    box-shadow: var(--color-shadow-large);
    width: 260px;
    border-radius: 12px;
    border: 1px solid var(--border-color);
  }
  & .admin-header-menu-panel-content{
    overflow: auto;
    min-height: 200px;
    max-height: 400px;
    display: grid;
    margin: 12px;
    & button{
      width: 90px;
      margin: auto auto 0 auto;
      color: #CF222E;
    }

    & .admin-header-menu-item{
      display: grid;
      grid-template-columns: 30px 1fr 10px;
      height: 32px;
      line-height: 32px;
      align-items: center;
      margin-bottom: 6px;
      cursor: pointer;
      padding: 0 10px;
      border-radius: 6px;
      &:hover{
        background-color: var(--header-icon-bg-color);
      }
      & i{
        display: flex;
        align-items: center;
      }
      & .admin-header-menu-cache {
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background-color: #2BC385;
      }
    }

    & .admin-header-menu-active{
      font-weight: bold;
    }
  }
}

.admin-header-button{
  cursor: pointer;
  border: 1px solid var(--border-color);
  width: 32px;
  height: 32px;
  border-radius: 6px;
  color: var(--header-text-color);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover{
    background-color: var(--header-icon-bg-color);
  }

  & + button{
    margin-left: 15px;
  }
}

.admin-header-menu-collapse {
  & svg{
    transition: transform 0.3s;
  }
  & .admin-header-mo{
    transform: rotate(180deg);
  }
  & .admin-header-mc{
    transform: rotate(0);
  }
}