.admin-header{
  position: sticky;
  top: 0;
  z-index: var(--z-index-c);
  display: flex;
  align-items: center;
  background-color: var(--header-bg-color);
  backdrop-filter: blur(5px);
  border-bottom: var(--color-border-1);
  padding: 0 20px;
}

.header-menu-card{
  position: relative;
  margin-left: 15px;
  & .header-menu-panel{
    position: absolute;
    top: 40px;
    background-color: #ffffff;
    box-shadow: var(--color-shadow-large);
    width: 260px;
    border-radius: 12px;
    border: var(--color-border-1);
  }
  & .menu-panel-content{
    overflow: auto;
    min-height: 200px;
    max-height: 400px;
    display: grid;
    margin: 12px;

    & .menu-item{
      display: grid;
      grid-template-columns: 1fr 10px;
      height: 40px;
      line-height: 40px;
      align-items: center;
      margin-bottom: 6px;
      cursor: pointer;
      padding: 0 10px;
      border-radius: 6px;
      &:hover{
        background-color: var(--header-icon-bg-color);
      }
      & i{
        display: flex;
        align-items: center;
      }
      & .menu-cache {
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background-color: #2BC385;
      }
    }

    & .menu-active{
      font-weight: bold;
    }
  }
}

.menu-collapse-icon {
  & svg{
    transition: transform 0.3s;
  }
  & .icon-rotate{
    transform: rotate(180deg);
  }
}