:root{
  /*菜单背景颜色*/
  --menu-bg-color: #FFFFFF;
  /*菜单文字颜色*/
  --menu-text-color: #1F2328;
  /*菜单滚动条背景颜色*/
  --menu-scroll-bg-color: #576986;
  /*激活菜单的背景颜色*/
  --menu-active-bg-color: rgb(247, 228, 253);
  /*菜单hover颜色*/
  --menu-hover-color: #FBF9F8;
  /*菜单的边框颜色*/
  --menu-bd-color: var(--border-color);
  /*头部背景*/
  --header-bg-color: #F6F8FA;
  /*头部文字图标颜色*/
  --header-text-color: #666666;
  /*头部鼠标移上去背景*/
  --header-icon-bg-color: #E8EAED;
  /*logo背景*/
  --logo-bg: var(--header-bg-color);
  /*logo边框*/
  --logo-border-color: var(--border-color)
}
body,html,#app{
  overflow: hidden;
}
.admin-theme-header-ht{
  height: var(--header-height);
}

