
/*无背景边框*/
.btn-tran{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 0;
  margin-right: 20px;
  background-color: transparent;
  cursor: pointer;
  &:hover{
    color: #21A9FB;
    background-color: #F7F7F8;
  }
}

/*无背景有边框*/
.btn-dft{
  cursor: pointer;
  border: var(--color-border-1);
  height: 32px;
  border-radius: 6px;
  color: var(--header-text-color);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover{
    background-color: var(--header-icon-bg-color);
  }

  & + button{
    margin-left: 15px;
  }
}

.btn-blue{
  width: initial;
  background-color: #0D99FF;
  color: #FFFFFF;
  border-color: #008bef;
  & span{
    padding: 0 6px;
    font-weight: bolder;
  }
  &:hover{
    background-color: #008bef;
  }
}

.btn-red{
  width: 90px;
  margin: auto auto 0 auto;
  color: #CF222E;
}