
/*无背景边框*/
.btn-tran{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 0;
  margin-right: 20px;
  background-color: transparent;
  cursor: pointer;
  &:hover{
    color: #21A9FB;
    background-color: #F7F7F8;
  }
}

/*无背景有边框*/
.header-btn-dft{
  height: 100%;
  padding: 0 15px;
  cursor: pointer;
  border: 1px solid var(--header-btn-bg-color);
  color: var(--header-text-color);
  background-color: var(--header-btn-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover{
    background-color: var(--menu-bg-color);
  }
}

.header-btn-down{
  width: initial;
  & span{
    padding-left: 6px;
    font-weight: bolder;
  }
  &:hover{
    background-image: none;
    box-shadow: none;
  }
}

.header-menu-clean-btn{
  height: 40px;
  border: 0;
  border-top: var(--color-border-1);
  background-color: transparent;
  cursor: pointer;
  border-bottom-right-radius: var(--border-radius-extra-large);
  border-bottom-left-radius: var(--border-radius-extra-large);
  &:hover{
    color: #ff0000;
  }
}

.btn-red{
  width: 90px;
  margin: auto auto 0 auto;
  color: #CF222E;
}