
.de-th-xtgg{
  border: 1px solid #76B9FD;
  display: inline-grid;
  grid-template-columns: 50px 1fr 40px;
  border-radius: 30px;
  grid-gap: 10px;
  cursor: pointer;
  align-items: center;
  height: 60px;
  margin: 66px 0;
  font-weight: bolder;
  padding: 4px 0 5px 5px;
  color: #3a9afc;
  text-decoration: none;
  position: relative;
  & .icon{
    background-color: #76B9FD;
    text-align: center;
    height: 50px;
    padding-top: 13px;
    border-radius: 50%;
    color: #FFFFFF;
  }
  &:hover{
    background-color: #FFFFFF;
  }
}

.de-th-tjmk{
  display: grid;
  grid-template-columns: repeat(4, 150px);
  border-radius: 20px;
  grid-gap: 20px;
  align-content: center;
  & .de-th-tjmk-item{
    height: 160px;
    text-align: center;
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(5px);
    line-height: 20px;
    border-radius: 20px;
    border: 1px solid var(--border-color);
    box-shadow: var(--color-shadow-medium);
    &:hover{
      background-color: #FFFFFF;
      cursor: pointer;
    }
  }
  & span:first-child{
    line-height: 60px;
    display: block;
    font-size: 13px;
  }
  & span:nth-child(2){
    line-height: 60px;
    display: block;
    font-size: 34px;
  }
}