.theme-mw{
  max-width: 1344px;
  margin: auto;
}

.theme-main{
  margin-top: 60px;
}
.main-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  grid-gap: 40px;
}
.wrapper-menu-item{
  display: grid;
  grid-template-columns: 40px 1fr 20px;
  align-items: center;
  margin-bottom: 20px;
  border: var(--color-border-1);
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  & img{
    width: 24px;
    height: 24px;
  }
  & svg{
    color: transparent;
  }
  &:hover{
    & svg{
      color: inherit;
    }
  }
  & .menu-title{
    line-height: 32px;
    font-size: 16px;
  }
  & .menu-describe{
    color: #888888;
    font-size: 13px;
    line-height: 26px;
  }
}
