@use "../../scss/mixin/mixin" as *;

.app-home-avatar{
  position: relative;
}
.app-home-avatar details{
  @include flex-base();
  height: var(--size-default);
  & summary{
    padding: 0 var(--pd-ultra-small);
    border-radius: var(--border-radius-medium);
    border: var(--border-1);
    & svg:nth-child(2){
      margin-left: var(--mg-small);
    }
    &:hover{
      background-color: var(--bg-color-hover);
    }
  }
  & .user-avatar-panel{
    right: 0;
  }
}

.app-home-avatar details[open] > summary {
  background-color: var(--bg-color-hover);
}