@use "../../scss/mixin/mixin" as *;

.app-home-avatar details{
  @include flex-base();
  height: var(--lh-medium);
  border: 0;
  background-color: var(--color-black);
  padding: 0 var(--pd-ultra-small);
  & .el-avatar{
    cursor: pointer;
  }
}