@use "../../scss/mixin/mixin" as *;

.user-avatar-container{
  position: relative;
  details{
    @include flex-base();
    height: var(--size-default);
    & summary{
      padding: 0 var(--pd-ultra-small);
      border-radius: var(--border-radius-medium);
      border: var(--border-1);
      & svg:nth-child(2){
        margin-left: var(--mg-small);
      }
      &:hover{
        background-color: var(--bg-color-hover);
      }
    }
    & .user-avatar-overlay{
      top: calc(var(--header-height) - 3px);
      right: 0;
    }
  }
}

.user-avatar-container details[open] > summary {
  background-color: var(--bg-color-hover);
}