@use "../mixin/mixin" as *;

.admin-menu-top-child{

    & .menu-label{
        line-height: var(--size-medium);
        padding-left: calc(var(--menu-level) * var(--menu-level-padding));
        color: var(--color-black-secondary);
        font-weight: bolder;
        font-size: var(--h6-size);
    }

    & .menu-item{
        padding-left: calc(var(--menu-level) * var(--menu-level-padding));
    }
}