@use "../mixin/mixin" as *;

.admin-menu-top{
    position: relative;
}

.top-menu-overlay{
    @extend .overlay;
    top: 42px;
    left: 0;
    right: var(--mg-medium);
    min-width: max-content;
    max-width: calc(100vw - var(--mg-large));
    min-height: 320px;
    max-height: calc(100vh - var(--header-height) - var(--mg-ultra-large));
}

.top-menu-overlay__body{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    & .top-menu-column{
        width: 260px;
        background-image: linear-gradient(to bottom, #7a7a7a 10%, rgba(255, 255, 255, 0) 10%);
        background-position: left top;
        background-repeat: repeat-y;
        background-size: 1px 8px;

        & .menu-group-title{
            position: relative;
            line-height: var(--size-medium);
            padding-left: var(--pd-large);
            color: var(--color-black-secondary);
            &::before{
                content: "•";
                position: absolute;
                left: -2px;
                font-size: var(--h5-size);
            }
        }
        & .menu-item{
            border-left: 1px solid transparent;
            &:hover{
                color: var(--color-blue) !important;
                border-left-color: var(--color-blue);
            }
        }
    }

    & .column-one-level {
        width: 200px;
        & .nav-item{
            padding-left: var(--pd-large);
        }
    }
}