:root{
    /*字体*/
    --font-size-small: 14px;
    --font-size-medium: 16px;
    --font-size-large: 18px;

    --color-white: #FFFFFF;
    --color-white-b: #BBBBBB;
    --color-white-e: #E7E9EB;
    --color-black: #000000;
    --color-black-1: #1F2328;
    --color-black-4: #444444;
    --color-black-6: #656D76;
    --color-black-9: #909399;
    --color-blue: #409EFF;
    --color-blue-bd: #2d8df1;
    --color-red: #ff0000;
    --color-header-btn: #2e3336;

    --hover-bg-light: #E9E9E9;

    --h00-size: 3rem;
    --h0-size: 2.5rem;
    --h1-size: 2rem;
    --h2-size: 1.5rem;
    --h3-size: 1.25rem;
    --h4-size: 1rem;
    --h5-size: 0.875rem;
    --h6-size: 0.75rem;
    --body-font-size: 0.875rem;

    /*
    层级
    [
    element:
    --el-index-normal: 1;
    --el-index-top: 1000;
    --el-index-popper: 2000; 用于对话框等，这里是动态的，2000是基础
    ]
    a:覆盖默认的层级
    b:用于logo | ...
    c:
    d:
    e: 用于summary:before
    f: 用于summary
    g:用于搜索面板等，不能超于element弹出框
    h:
    i:
    z: 顶层用于message | 进度条等
    */
    --z-index-a: 1;
    --z-index-b: 2;
    --z-index-c: 3;
    --z-index-d: 10;
    --z-index-e: 100;
    --z-index-f: 500;
    --z-index-g: 1000;
    --z-index-h: 2000;
    --z-index-i: 3000;
    --z-index-z: 9999;

    /*圆角*/
    --border-radius-ultra-small: 1px;
    --border-radius-small: 2px;
    --border-radius-medium: 4px;
    --border-radius-large: 12px;
    --border-radius-ultra-large : 20px;

    --border-radius-round-small: 16px;
    --border-radius-round-medium: 20px;

    /*动画周期*/
    --duration-slow: 1.25s;
    --duration-medium: 0.75s;
    --duration-quick: 0.35s;

    --panel-bg-color: #FFFFFF;
    --panel-bg2-color: #EEEEEE;
    --panel-border-inner-color: #DFE1E5;
    --panel-border-outer-color: #C7CCD1;
    --panel-width-medium: 260px;

    --mg-ultra-small: 6px;
    --mg-small: 10px;
    --mg-medium: 16px;
    --mg-large: 20px;
    --mg-ultra-large: 26px;

    --pd-ultra-small: 6px;
    --pd-small: 10px;
    --pd-medium: 16px;
    --pd-large: 20px;
    --pd-ultra-large: 26px;

    --btn-height: 32px;

    --lh-small: 32px;
    --lh-medium: 40px;
    --lh-large: 60px;

    --header-height: 48px;
    --header-nav-height: 104px;

    --nav-height: 56px;
    --nav-width: 260px;

    --menu-base-level-padding: var(--el-menu-base-level-padding);
}