:root{
    /*字体*/
    --font-size-small: 14px;
    --font-size-medium: 16px;
    --font-size-large: 18px;

    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-black-1: #1F2328;
    --color-black-6: #656D76;
    --color-black-9: #909399;
    --color-blue: #1F88FF;
    --color-red: #ff0000;

    --h00-size: 3rem;
    --h0-size: 2.5rem;
    --h1-size: 2rem;
    --h2-size: 1.5rem;
    --h3-size: 1.25rem;
    --h4-size: 1rem;
    --h5-size: 0.875rem;
    --h6-size: 0.75rem;
    --body-font-size: 0.875rem;

    /*层级*/
    --z-index-a: 1;
    --z-index-b: 2;
    --z-index-c: 3;
    --z-index-d: 10;
    --z-index-e: 100;
    --z-index-f: 500;
    --z-index-g: 1000;
    --z-index-h: 2000;
    --z-index-i: 3000;
    --z-index-z: 9999;

    /*圆角*/
    --border-radius-ultra-small: 2px;
    --border-radius-small: 4px;
    --border-radius-medium: 6px;
    --border-radius-large: 8px;
    --border-radius-ultra-large : 12px;

    /*动画周期*/
    --duration-slow: 1.25s;
    --duration-medium: 0.75s;
    --duration-quick: 0.35s;

    --panel-bg-color: #FFFFFF;
    --panel-bg2-color: #EEEEEE;
    --panel-border-inner-color: #DFE1E5;
    --panel-border-outer-color: #C7CCD1;
    --panel-width-medium: 260px;

    --mg-ultra-small: 5px;
    --mg-small: 10px;
    --mg-medium: 15px;
    --mg-large: 20px;
    --mg-ultra-large: 25px;

    --pd-ultra-small: 5px;
    --pd-small: 10px;
    --pd-medium: 15px;
    --pd-large: 20px;
    --pd-ultra-large: 30px;

    --btn-height: 32px;

    --lh-small: 32px;
    --lh-medium: 40px;
    --lh-large: 60px;

    --header-height: 60px;
}