.app-dark{
    color-scheme: dark;
    --bg-color: #000000;
    --bg-color-header: #232323;
    --bg-color-banner: #232323;
    --bg-color-hover: #363636;
    --bg-color-reverse: #FFFFFF;
    --bg-color-scrollbar-thumb: #686868;
    --bg-color-scrollbar-track: transparent;

    --border-color: #4C4D4F;
    --border-1: 1px solid var(--border-color);

    --text-color-primary: #FFFFFF;
    --text-color-regular: #CFD3DC;
    --text-color-disabled: #6C6E72;

    --box-shadow-small: 0 1px 0 rgba(0,0,0, 1);
    --box-shadow-medium: 0 3px 6px rgba(0,0,0, 1);
    --box-shadow-large: 0 8px 24px rgba(0,0,0, 1);
    --box-shadow-extra-large: 0 12px 28px rgba(0,0,0, 1);
    --box-shadow-panel: rgba(0,0,0, 0.82) 0 1px 3px, rgba(0,0,0, 0.82) 0 8px 24px;
}