.app-dark{
    --bg-color: #000000;
    --bg-color-hover: #363636;
    --bg-color-reverse: #FFFFFF;

    --scrollbar-thumb-bg-color: #686868;
    --scrollbar-track-bg-color: transparent;

    --border-color: #4C4D4F;
    --border-1: 1px solid var(--border-color);

    --text-color-default: #FFFFFF;
    --text-color-muted: #CCCCCC;
    --text-color-reverse: #000000;
    --text-color-disabled: #666666;
    /*从element获取的颜色*/
    --text-color-regular: var(--el-text-color-regular);

    --header-bg-color: #232323;
    --header-nav-bg-color: #232323;

    --header-nav-item-bg-color: #262A2D;
    --header-nav-item-bd-color: #262A2D;

    --box-shadow-small: 0 1px 0 rgba(0,0,0, 1);
    --box-shadow-medium: 0 3px 6px rgba(0,0,0, 1);
    --box-shadow-large: 0 8px 24px rgba(0,0,0, 1);
    --box-shadow-extra-large: 0 12px 28px rgba(0,0,0, 1);
    --box-shadow-panel: rgba(0,0,0, 0.82) 0 1px 3px, rgba(0,0,0, 0.82) 0 8px 24px;
}