.app-light{
    --bg-color: #FFFFFF;

    --scrollbar-thumb-bg-color: #E3E3E3;
    --scrollbar-track-bg-color: transparent;

    --border-color: #E6E6E6;
    --border-1: 1px solid var(--border-color);

    --search-bg-color: #E9E9E9;
    --header-bg-color: #2C2C2C;
    --header-nav-bg-color: #F5F5F7;
    --header-nav-bd-color: #E8E8EC;
    --header-nav-item-bg-color: #ffffff;

    --box-shadow-small: 0 1px 0 rgba(31,35,40,0.04);
    --box-shadow-medium: 0 3px 6px rgba(140,149,159,0.15);
    --box-shadow-large: 0 8px 24px rgba(140,149,159,0.3);
    --box-shadow-extra-large: 0 12px 28px rgba(140,149,159,0.3);
    --box-shadow-panel: rgba(31, 35, 40, 0.12) 0 1px 3px, rgba(66, 74, 83, 0.12) 0 8px 24px;
}