.app-light {
  color-scheme: light;

  --button-text-color: #666666;
  --button-hover-text-color: #000000;

  --active-bg-color: #F0F2F5;
  --disabled-text-color: #D3D3D6;
  --placeholder-color: #A8ABB2;
}
