.app-light {
  color-scheme: light;
  --menu-scroll-bg-color: #576986;
  --menu-active-bg-color: #CFE8FD;
  --menu-active-bd-color: #0069C2;
  --menu-hover-color: #F2F2F2;
  --menu-bd-color: var(--color-bd);

  --header-bg-color: #F6F8FA;
  --header-text-color: #666666;
  --header-icon-bg-color: #E8EAED;
  --header-btn-bg-color: transparent;
  --header-menu-hove-color: #FAFAFA;

  --logo-bg: var(--header-bg-color);
}
