.app-dark {
  color-scheme: dark;
  --menu-scroll-bg-color: #575757;
  --menu-active-bg-color: #162F44;
  --menu-active-bd-color: #8CB4FF;
  --menu-active-color: #FFFFFF;
  --menu-hover-color: rgba(255, 255, 255, 0.1);
  --menu-bd-color: #3B3A3A;

  --header-bg-color: #343434;
  --header-text-color: #ffffff;
  --header-icon-bg-color: var(--el-menu-bg-color);
  --header-btn-bg-color: transparent;
  --header-menu-hove-color: #FAFAFA;

  --logo-bg: var(--el-menu-bg-color);
}