.app-light {
  color-scheme: light;

  --menu-active-bg-color: #CFE8FD;
  --menu-hover-color: #F2F2F2;
  --menu-border-color: var(--border-color);

  --header-bg-color: #F6F8FA;
  --header-text-color: #666666;
  --header-menu-hove-color: #FAFAFA;

  --disabled-text-color: #999999;
}
