.app-dark {
  color-scheme: dark;

  --button-text-color: #B3BBC3;
  --button-hover-text-color: #FFFFFF;

  --active-bg-color: #303030;
  --disabled-text-color: #666666;
  --placeholder-color: #81858A;
}