@use "../../scss/mixin/mixin" as *;

// 圆角按钮
.round-button{
	@include flex-base(true);
	border-radius: 50%;
}

// 图标按钮（带主题）
.icon-button{
	@extend .icon-btn;
	border: var(--border-1);
	color: var(--text-color-regular);
	&:hover{
		background-color: var(--bg-color-hover);
	}
}
.icon-button + button{
	margin-left: var(--mg-small);
}

// 容器内部按钮
.icon-button-inner{
	@include flex-base(true);
	color: var(--text-color-regular);
	width: calc(var(--size-default) - 6px);
	height: calc(var(--size-default) - 6px);
	border-radius: var(--border-radius-medium);
	margin-left: 3px;
	&:hover{
		background-color: var(--bg-color-hover);
	}
}

// 搜索按钮
.search-button{
	@include grid-base(26px 1fr);
	width: 100%;
	height: var(--size-default);
	border: var(--border-1);
	color: var(--text-color-regular);
	border-radius: var(--border-radius-medium);
	box-shadow: inset 0 1px 0 rgba(208,215,222,0.2);
	text-align: left;
}

// 下拉按钮
.drop-down-button{
	@extend .icon-button;
	width: 64px;
	position: relative;
	& svg:nth-child(2){
		margin-left: var(--mg-small);
	}
}

// 菜单关闭按钮
.menu-close-button{
	@extend .round-button;
	position: absolute;
	top: 0;
	right: 5px;
	bottom: 0;
	width: 18px;
	height: 18px;
	padding: 0;
	margin: auto 0;
	transition: background-color 0.3s;
}

// 默认菜单关闭按钮
.menu-close-button-base{
	@extend .menu-close-button;
	&:hover{
		background-color: var(--bg-color);
	}
}

// 面板菜单关闭按钮
.menu-close-button-panel {
	@extend .menu-close-button;
	color: var(--color-black-primary);
	&:hover{
		background-color: var(--color-white);
	}
}