.close-btn{
    height: 40px;
    width: 40px;
    color: var(--color-black-6);
    border-radius: var(--border-radius-ultra-large);
    &:hover{
      background-color: var(--panel-bg2-color);
      color: var(--color-black);
    }
}