@use "../../scss/mixin/mixin" as *;

.button-star{
	@include flex-base();
	position: relative;
}

.header-icon-button{
	@include flex-base(true);
	@extend .button-base;
	border: var(--border-1);
	&:hover{
		background-color: var(--bg-color-hover);
	}
}
.header-icon-button + button{
	margin-left: var(--mg-small);
}

.button-search{
	width: 100%;
	justify-content: start;
	box-shadow: inset 0 1px 0 rgba(208,215,222,0.2);
	& span{
		padding-left: var(--pd-small);
	}
}

.button-history{
	@extend .header-icon-button;
	width: 64px;
	position: relative;
	& svg{
		margin-left: var(--mg-ultra-small);
	}
}

.button-menu-close{
	@include flex-base(true);
	position: absolute;
	top: 0;
	right: 5px;
	bottom: 0;
	width: 18px;
	height: 18px;
	padding: 0;
	border-radius: 50%;
	margin: auto 0;
	transition: background-color 0.3s;
	&:hover{
		color: var(--color-white) !important;
		background-color: var(--color-red);
	}
}

.button-black{
	color: var(--color-black-1);
}