@use "../../scss/mixin/mixin" as *;

.button-star{
	@include flex-base();
	position: relative;
}

.header-icon-button{
	@include flex-base(true);
	@extend .button-base;
	border: var(--border-1);
	&:hover{
		background-color: var(--bg-color-hover);
	}
}

.button-icon{
	@include button-custom;
}
.button-icon + button{
	margin-left: var(--mg-medium);
}

.button-history{
	@include button-custom;
	width: 64px;
	position: relative;
	padding-right: var(--pd-ultra-small);
	& svg{
		margin-left: var(--mg-ultra-small);
	}
}

.button-menu-close{
	@include flex-base(true);
	position: absolute;
	top: 0;
	right: 5px;
	bottom: 0;
	width: 18px;
	height: 18px;
	padding: 0;
	border-radius: 50%;
	margin: auto 0;
	transition: background-color 0.3s;
	&:hover{
		color: var(--color-white) !important;
		background-color: var(--color-red);
	}
}

.button-black{
	color: var(--color-black-1);
}