@use "../../scss/mixin/mixin" as *;

/*--------------按键样式----------*/
.commands-Key{
	@include flex-base(true);
	width: 22px;
	height: 18px;
	padding: 0 0 1px;
	border: 0 {
		radius: var(--border-radius-ultra-small);
	};
	margin-right: var(--mg-small);
	color: var(--color-black-secondary);
	background: rgba(125, 125, 125, .1);
	box-shadow: inset 0px -2px 0px 0px #CDCDE6, inset 0px 0px 1px 1px #FFFFFF, 0px 1px 2px 1px #a8a8a8;
}