.admin-el-menu{
    border: 0;
    margin-top: 20px;
}

/*这里影响了全局*/
.el-menu-item{
    margin-bottom: 6px;
}
.el-popper.is-light{
    border-color: var(--menu-bd-color);
}
.el-menu-item:hover{
    background-color: var(--menu-hover-color);
}

.menu-icon{
    vertical-align: middle;
    text-align: center;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.menu-active{
    background-color: var(--menu-active-bg-color);
}
.menu-active:hover{
    background-color: var(--menu-active-bg-color) !important;
}