@use "../../scss/mixin/mixin" as *;

.app-message-container{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: transparent;
  overflow: auto;
  z-index: var(--z-index-z);
}

.app-message{
  max-width: 600px;
  min-height: 360px;
  border: var(--border-1) {
    radius: var(--border-radius-small);
  };
  margin: 80px auto 0 auto;
  box-shadow: var(--box-shadow-panel);
  background-color: var(--panel-bg-color);

  &__header{
    @include grid-base(1fr 32px);
    position: sticky;
    top: 0;
    padding: 0 var(--pd-large);
    line-height: var(--lh-large);
    color: var(--color-black-1);
    span{
      display: inline-block;
      font-size: var(--h3-size);
    }
    button{
      @include close-btn
    }
  }

  &__body{
    & ul {
      margin: var(--mg-large);
    }
    & li{
      @include grid-base(34px 1fr);
      padding: var(--pd-medium);
      border: 1px solid var(--panel-border-inner-color){
        radius: var(--border-radius-medium)
      };
      margin-bottom: var(--mg-small);
      font-size: var(--h4-size);
      color: var(--color-black);
    }
  }
}