@use "../../scss/mixin/mixin" as *;

.app-search-overlay{
  width: 720px;
  border: 1px solid var(--color-white) {
    radius: var(--border-radius-medium)
  };
  color: var(--color-black-primary);
  background: {
    color: var(--panel-bg-color);
    image: linear-gradient(-30deg, #bf398910, #096bde10, #ffffff 50%);
    repeat: no-repeat;
    position: right bottom;
  };
  box-shadow: var(--box-shadow-extra-large);
}

.app-search-panel{
  &__header{
    @include grid-base(32px 1fr);
    height: var(--size-medium);
    padding-left: var(--pd-small);
    border: 2px solid transparent;
    border-radius: var(--border-radius-medium);
    margin: var(--mg-small);
    color: var(--color-black-regular);
    text-align: center;
    background-color: #ECEFF7;
    input{
      height: 100%;
      border: 0 {
        top-right-radius: var(--border-radius-medium);
        bottom-right-radius: var(--border-radius-medium);
      };
      outline: none;
      font-size: var(--body-font-size);
      color: var(--color-black-primary);
      background-color: transparent;
    }
    &:focus-within{
      background-color: var(--color-white);
      border-color: var(--color-blue);
    }
  }

  &__body{
    min-height: 300px;
    overflow: auto;
    margin-bottom: calc(var(--mg-large) * 2);
    h5{
      margin: var(--mg-small) {
        top: var(--mg-ultra-small);
      };
      color: var(--color-black-secondary);
    }

    .search-history{
      padding: var(--pd-medium) {
        top: 0;
      };
      ul{
        display: flex;
        flex-wrap: wrap;
      }
      li {
        line-height: var(--size-default);
        padding: 0 var(--pd-medium);
        border: 1px solid var(--panel-border-inner-color) {
          radius: var(--border-radius-round-small);
        };
        margin-left: var(--mg-medium);
        cursor: pointer;
        &:hover{
          background-color: var(--panel-bg2-color);
        }
      }
    }

    .search-results{
      margin: var(--mg-small);
      & a{
        @include grid-base(1fr 20px);
        line-height: var(--size-medium);
        padding: 0 var(--pd-medium);
        border-radius: var(--border-radius-medium);
        text-decoration: none;
        &:hover{
          background-color: var(--hover-color-light-blue);
          svg{
            color: inherit;
          }
        }
        svg{
          color: transparent;
        }
      }
    }
  }

  &__footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255, 0.3);
    backdrop-filter: blur(5px);
    border: {
      top: 1px solid var(--panel-border-inner-color);
      bottom-left-radius: var(--border-radius-large);
      bottom-right-radius: var(--border-radius-large);
    };
    ul{
      @include flex-base(true);
      height: var(--size-medium);
      & li{
        @include flex-base();
        margin-left: var(--mg-ultra-large);
        color: var(--color-black-regular);
        font-size: var(--h6-size);
      }
    }
  }
}