@use "../../scss/mixin/mixin" as *;

.app-search-overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-index-h);
}
.app-search-panel{
  position: fixed;
  width: 720px;
  left: 50%;
  margin-left: -360px;
  top: var(--nav-height);
  height: 400px;
  border: 1px solid var(--color-white) {
    radius: var(--border-radius-large)
  };
  color: var(--color-black-1);
  background: {
    color: var(--panel-bg-color);
    image: linear-gradient(-30deg, #bf398910, #096bde10, #ffffff 50%);
    repeat: no-repeat;
    position: right bottom;
  };
  box-shadow: var(--box-shadow-extra-large);
  z-index: var(--z-index-i);

  &__header{
    @include grid-base(32px 1fr);
    height: var(--lh-medium);
    padding-left: var(--pd-small);
    border-bottom: 1px solid var(--panel-border-inner-color);
    margin: var(--mg-small);
    color: var(--color-black-6);
    text-align: center;
    input{
      height: 100%;
      border: 0 {
        top-right-radius: var(--border-radius-medium);
        bottom-right-radius: var(--border-radius-medium);
      };
      outline: none;
      font-size: var(--body-font-size);
      color: var(--color-black);
      background-color: transparent;
    }
    &:focus-within{
      border-color: var(--color-blue);
    }
  }

  &__body{
    height: calc(100% - 100px);
    overflow: auto;

    h5{
      margin: var(--mg-small) {
        top: var(--mg-ultra-small);
      };
      color: var(--color-black-9);
    }

    .search-history{
      padding: var(--pd-medium) {
        top: 0;
      };
      ul{
        display: flex;
        flex-wrap: wrap;
      }
      li {
        line-height: var(--lh-small);
        padding: 0 var(--pd-medium);
        border: 1px solid var(--panel-border-inner-color) {
          radius: var(--border-radius-round-small);
        };
        margin-left: var(--mg-medium);
        cursor: pointer;
        &:hover{
          background-color: var(--panel-bg2-color);
        }
      }
    }

    .search-results{
      margin: var(--mg-small);
      & a{
        @include grid-base(1fr 20px);
        line-height: var(--lh-medium);
        padding: 0 var(--pd-medium);
        border-radius: var(--border-radius-round-medium);
        text-decoration: none;
        &:hover{
          background-color: var(--color-white-hover);
          svg{
            color: inherit;
          }
        }
        svg{
          color: transparent;
        }
      }
    }
  }

  &__footer ul{
    @include flex-base(true);
    height: var(--lh-medium);
    border: {
      top: 1px solid var(--panel-border-inner-color);
      bottom-left-radius: var(--border-radius-large);
      bottom-right-radius: var(--border-radius-large);
    };
    background-color: rgba(255,255,255, 0.3);
    backdrop-filter: blur(5px);
    & li{
      @include flex-base();
      margin-left: var(--mg-ultra-large);
      color: var(--color-black-6);
      font-size: var(--h6-size);
    }
  }
}