.app-theme{
  display: flex;
  align-items: center;
  height: var(--btn-height);
  padding: 0 var(--pd-small);
  border: var(--border-1);
  border-radius: var(--border-radius-medium);
  margin-right: var(--mg-medium);
  color: var(--header-text-color);
  cursor: pointer;
  &:hover{
    color: var(--header-text-hover-color);
  }
}