@use "../../scss/mixin/mixin" as *;

.user-avatar{
  margin-left: var(--mg-medium);
  &-container{
    @include flex-base();
    height: 100%;
    border: 0;
    background-color: transparent;
    & .el-avatar{
      cursor: pointer;
    }
  }
  &-panel{
    position: absolute;
    top: 54px;
    right: var(--mg-medium);
    width: var(--panel-width-medium);
    height: 240px;
    padding: var(--pd-large);
    border: 1px solid var(--color-white) {
      radius: var(--border-radius-large)
    };
    color: var(--color-black-1);
    background-color: var(--panel-bg-color);
    box-shadow: var(--box-shadow-large);
    z-index: var(--z-index-f);
    & .li-information{
      line-height: var(--lh-large);
      text-align: center;
    }
    & .li-action-item{
      @include grid-base(40px 1fr);
      line-height: var(--lh-medium);
      cursor: pointer;
      &:hover{
        color: var(--color-blue) !important ;
      }
    }
    & .li-divider{
      height: 1px;
      margin: var(--mg-medium) 0;
      background-color: var(--panel-border-inner-color);
    }
  }
}