@use "src/assets/scss/var/distance" as dt;

.admin-avatar{
  height: 100%;
}

.avatar-base{
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  &:hover .avatar-expand{
    transform: translateY(4px);
    color: var(--header-text-hover-color);
  }
}

.avatar-expand{
  transition: all var(--duration-quick);
}

.avatar-card{
  position: absolute;
  right: dt.$mg-small;
  width: dt.$panel-width-medium;
  height: 240px;
  padding: dt.$pd-large;
  border: 1px solid var(--panel-border-outer-color);
  border-radius: var(--border-radius-large);
  color: var(--color-black-2);
  background-color: var(--panel-bg-color);
  box-shadow: var(--box-shadow-large);
  & .li-information{
    line-height: dt.$lh-large;
    text-align: center;
  }
  & .li-btn{
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    line-height: dt.$lh-medium;
    cursor: pointer;
    &:hover{
      color: var(--color-blue) !important ;
    }
  }
  & .li-divider{
    height: 1px;
    margin: dt.$mg-medium 0;
    background-color: var(--panel-border-inner-color);
  }
}