@mixin flex-base($jc: false){
	display: flex;
	align-items: center;
	@if $jc {
		justify-content: center;
	}
}

@mixin grid-base($gtc, $jc: false){
	display: grid;
	grid-template-columns: $gtc;
	align-items: center;
	@if $jc {
		justify-content: center;
	}
}

.bc-bf{
	background-color: rgba(0,0,0, 0.48);
	backdrop-filter: blur(5px);
}

.button-base{
	height: var(--btn-height);
	width: var(--btn-height);
	border-radius: var(--border-radius-medium);
}

@mixin header-btn{
	@include flex-base(true);
	@extend .button-base;
	border: var(--border-1);
	color: var(--header-text-color);
	margin-left: var(--mg-medium);
	&:hover{
		color: var(--header-text-hover-color);
	}
}

@mixin close-btn{
	@include flex-base(true);
	@extend .button-base;
	border-radius: var(--border-radius-round-small);
	border: 1px solid var(--color-black-9);
	color: var(--color-black-9);
	background-color: var(--panel-bg-color);
	&:hover{
		border-color: var(--color-black-6);
		color: var(--color-black);
	}
}