.layout-base{
	display: grid;
	grid-template-columns: var(--nav-width) 1fr;
	transition: grid-template-columns 0.3s;
}

.admin-theme .layout-base-collapse{
	grid-template-columns: 85px 1fr;
}

.bc-bf{
	background-color: rgba(0,0,0, 0.48);
	backdrop-filter: blur(5px);
}

.bd-rt{
	border-right: var(--border-1);
}

.button-base{
	height: var(--btn-height);
	width: var(--btn-height);
	border-radius: var(--border-radius-medium);
}


.disabled{
	color: var(--disabled-text-color) !important;
	cursor: not-allowed !important;
	pointer-events: none;
}

@mixin flex-base($jc: false){
	display: flex;
	align-items: center;
	@if $jc {
		justify-content: center;
	}
}

@mixin grid-base($gtc, $jc: false){
	display: grid;
	grid-template-columns: $gtc;
	align-items: center;
	@if $jc {
		justify-content: center;
	}
}

@mixin button-custom{
	@include flex-base(true);
	@extend .button-base;
	border: var(--border-1);
	color: var(--header-text-color);
	box-shadow: var(--box-shadow-small);
	&:hover{
		color: var(--header-text-hover-color);
	}
}

@mixin close-btn{
	@include flex-base(true);
	@extend .button-base;
	border-radius: var(--border-radius-round-small);
	border: 1px solid var(--color-black-9);
	color: var(--color-black-9);
	background-color: var(--panel-bg-color);
	&:hover{
		border-color: var(--color-black-6);
		color: var(--color-black);
	}
}