.app-dark {
  color-scheme: dark;

  --menu-active-bg-color: #162F44;
  --menu-active-border-color: #8CB4FF;
  --menu-hover-color: rgba(255, 255, 255, 0.1);
  --menu-border-color: var(--border-color);

  --header-bg-color: #161B22;
  --header-text-color: #B3BBC3;
  --header-text-hover-color: #FFFFFF;
}