.app-light {
  color-scheme: light;

  --bg-color: #FFFFFF;

  --scrollbar-thumb-bg-color: #E3E3E3;
  --scrollbar-track-bg-color: transparent;

  --menu-active-bg-color: #CFE8FD;
  --menu-active-bd-color: #0069C2;
  --menu-hover-color: #F2F2F2;
  --menu-bd-color: var(--color-bd);

  --header-bg-color: #F6F8FA;
  --header-text-color: #666666;
  --header-menu-hove-color: #FAFAFA;

  --color-bd: #DBDCDD;
  --color-border-1: 1px solid var(--color-bd);
  --color-border-2: 2px solid var(--color-bd);

  --color-shadow-small: 0 1px 0 rgba(31,35,40,0.04);
  --color-shadow-medium: 0 3px 6px rgba(140,149,159,0.15);
  --color-shadow-large: 0 8px 24px rgba(140,149,159,0.2);
  --color-shadow-extra-large: 0 12px 28px rgba(140,149,159,0.3);
  --color-shadow-panel: rgba(31, 35, 40, 0.12) 0 1px 3px, rgba(66, 74, 83, 0.12) 0 8px 24px;
}
