.app-light {
  color-scheme: light;

  --menu-active-bg-color: #CFE8FD;
  --menu-active-border-color: #0069C2;
  --menu-hover-color: #F2F2F2;
  --menu-border-color: var(--color-bd);

  --header-bg-color: #F6F8FA;
  --header-text-color: #666666;
  --header-menu-hove-color: #FAFAFA;
}
