.desktop-theme{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(5deg, #E9E9E9, #E9E9E9, #E9E9E9);
}

.home-header{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #FFFFFF;
  height: 84px;
  padding: 0 var(--pd-large);
  & img{
    width: 32px;
    height: 32px;
  }
}


.theme-main{
  margin-top: 60px;
}
