@use "../../scss/mixin/mixin" as *;

.desktop-logo{
  @include flex-base();
  position: relative;
  height: 100%;
  margin-left: var(--mg-medium);
  & a{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-size: var(--h3-size);
  }
  & img{
    width: 28px;
    margin-right: 8px;
  }
}