.desktop-logo{
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  & a{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    font-size: var(--h3-size);
  }
  & img{
    width: 28px;
    margin-right: 8px;
  }
}