@import "@assets/css/var/global.css";
@import "@assets/css/base/base.css";
@import "@assets/css/base/details.css";
@import "@assets/css/var/public-dark.css";
@import "@assets/css/var/public-light.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  box-sizing: border-box;
}

html.app-dark{
  background-color: var(--bg-color);
  color: var(--text-color-primary);
}

html.app-light{
  background-color: var(--bg-color);
  color: var(--text-color-primary);
}

body, ul, ol, h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

body {
  font-size: var(--body-font-size);
}

h1 {
  font-size: var(--h1-size);
}
h2 {
  font-size: var(--h2-size);
}
h3 {
  font-size: var(--h3-size);
}
h4 {
  font-size: var(--h4-size);
}
h5 {
  font-size: var(--h5-size);
}
h6 {
  font-size: var(--h6-size);
}

ul{
  list-style: none;
}

button{
  border: 0;
  background-color: transparent;
  font-size: inherit;
  cursor: pointer;
}

dialog{
  margin: 15vh auto 0;
}

a{
  color: inherit;
  cursor: pointer;
}

/*这里是系统级别的主题（非当前项目的）*/
@media (prefers-color-scheme: light) {
  :root {
  }
}

