:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  color-scheme: light dark;
  color: #F9F9F9;

  /*主题的顶部高度*/
  --header-height: 60px;

  /*覆盖element框架的样式*/
  --el-menu-item-height: 46px;

  --color-bd: #DBDCDD;
  --color-border-1: 1px solid #DBDCDD;
  --color-border-2: 2px solid #DBDCDD;

  --color-shadow-small: 0 1px 0 rgba(31,35,40,0.04);
  --color-shadow-medium: 0 3px 6px rgba(140,149,159,0.15);
  --color-shadow-large: 0 8px 24px rgba(140,149,159,0.2);
  --color-shadow-extra-large: 0 12px 28px rgba(140,149,159,0.3);
  --color-shadow-panel: rgba(31, 35, 40, 0.12) 0 1px 3px, rgba(66, 74, 83, 0.12) 0 8px 24px;

  /*层级*/
  --z-index-a: 1;
  --z-index-b: 2;
  --z-index-c: 10;
  --z-index-z: 9999;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.mg-20{
  margin: 20px;
}

.pd-20{
  padding: 20px;
}

.mgl-auto{
  margin-left: auto;
}

.header-ht{
  height: var(--header-height);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #212121;
  }
}
