@use "../../scss/mixin/mixin" as *;

.admin-header{
  @include flex-base();
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--menu-border-color);
  background-color: var(--header-bg-color);
  z-index: var(--z-index-f);
}

.header-menu{
  position: relative;
  height: 100%;
  & .header-menu-panel{
    position: absolute;
    width: var(--panel-width-medium);
    border: 1px solid var(--panel-border-outer-color) {
      radius: var(--border-radius-large);
    };
    color: var(--color-black-1);
    background-color: var(--panel-bg-color);
    box-shadow: var(--box-shadow-large);

    &__body{
      display: grid;
      height: 400px;
      overflow: auto;
      & ul{
        height: 336px;
        margin: var(--mg-small);
      }

      & .header-menu-item{
        @include grid-base(1fr 10px);
        line-height: var(--lh-medium);
        padding: 0 var(--pd-medium);
        border-radius: var(--border-radius-small);
        margin-bottom: var(--mg-small);
        cursor: pointer;
        &:hover{
          background-color: #ECF5FF;
        }
        & i{
          @include flex-base()
        }
      }

      & .header-menu-active{
        color: var(--color-blue);
        font-weight: bolder;
      }
    }

    &__footer{
      width: 100%;
      & button{
        width: 100%;
        line-height: var(--lh-medium);
        border: {
          top: 1px solid var(--panel-border-inner-color);
          bottom-right-radius: var(--border-radius-large);
          bottom-left-radius: var(--border-radius-large);
        };
        color: var(--color-black-1);
        &:hover{
          color: var(--color-red);
        }
      }
    }
  }
}