@use "../../scss/mixin/mixin" as *;
@use "./admin-theme-public" as tp;

.admin-theme{
  .theme-content{
    margin: var(--mg-large);
  }

  &__nav{
    @include flex-base();
    height: var(--nav-height);
    background-color: var(--header-nav-bg-color);
    border-bottom: var(--border-1);
   & ul{
     @include flex-base;
     height: 100%;
     & .nav-item{
       @include flex-base();
       height: var(--btn-height);
       padding: 0 var(--pd-medium);
       border-radius: var(--border-radius-medium);
       margin-left: var(--mg-small);
       text-decoration: none;
       font-size: var(--body-font-size);
       &:hover{
         background-color: var(--hover-bg);
       }
     }

     & a[aria-current='page']{
       font-weight: bolder;
       position: relative;
       &::before{
         content: "";
         position: absolute;
         left: var(--pd-large);
         right: var(--pd-large);
         bottom: -12px;
         height: 2px;
         background-color: var(--bg-color-reverse);
       }
     }
   }
  }
}