@use "src/assets/scss/var/header" as hd;

.admin-theme{
  display: grid;
  grid-template-columns: 260px 1fr;
  width: 100vw;
  height: 100vh;
  transition: grid-template-columns 0.3s;
}

.admin-header-ht{
  height: hd.$header-height;
}

.menu-collapse{
  grid-template-columns: 76px 1fr;
}

.left-wrapper{
  height: 100%;
  border-right: 1px solid var(--menu-border-color);
  overflow: hidden;
}

.right-wrapper{
  overflow: auto;
}
