@use "../../scss/mixin/mixin" as *;
@use "./admin-theme-public" as tp;



.admin-theme{
  .theme-content{
    margin: var(--mg-large);
  }

  &__nav{
    @include flex-base();
    height: var(--nav-height);
    background-color: var(--header-nav-bg-color);
    border-bottom: var(--border-1);
    padding: 0 var(--pd-large);
   & .menu-wrapper{
     @include flex-base;
     height: 100%;

     & .menu-icon{
       @include flex-base();
       margin-right: var(--mg-ultra-small);
       color: var(--text-color-regular);
     }

     & .nav-item{
       @include flex-base();
       line-height: var(--btn-height);
       padding: 0 var(--pd-small);
       margin-right: var(--mg-small);
       border-radius: var(--border-radius-medium);
       text-decoration: none;
       font-size: var(--body-font-size);
       &:hover{
         background-color: var(--bg-color-hover);
       }
     }

     & .active-menu-group,
     a[aria-current='page']
     {
       font-weight: bolder;
       position: relative;
       &::before{
         content: "";
         position: absolute;
         left: 0;
         right: 0;
         bottom: -12px;
         height: 2px;
         background-color: var(--bg-color-reverse);
       }
     }
   }
  }
}

.theme-menu-group{
  position: relative;
  margin-right: var(--mg-small);
  & details[open] > summary{
    background-color: var(--bg-color-hover);
  }

  & .menu-group-details summary{
    @include flex-base();
    line-height: var(--btn-height);
    padding: 0 var(--pd-small);
    border-radius: var(--border-radius-medium);
    text-decoration: none;
    font-size: var(--body-font-size);
    & .expand-mg{
      margin-left: var(--mg-ultra-small);
    }
    &:hover{
      background-color: var(--bg-color-hover);
    }
  }

  & .menu-group-details-content{
    position: absolute;
    width: 300px;
    left: 0;
    top: 44px;
    min-height: 260px;
    max-height: calc(100vh - var(--header-nav-height) - var(--mg-large));
    padding: var(--pd-large);
    border: 1px solid var(--color-white) {
      radius: var(--border-radius-large)
    };
    color: var(--color-black-1);
    background-color: var(--panel-bg-color);
    box-shadow: var(--box-shadow-large);
    overflow: auto;
    z-index: var(--z-index-f);
  }
}

