@use "../../scss/mixin/mixin" as *;

.admin-header{
  @extend .layout-base;
  border-bottom: 1px solid var(--menu-border-color);
  background-color: var(--header-bg-color);

  .header-action{
    @include flex-base();
    padding: 0 var(--pd-large);
  }
}