@use "../../scss/mixin/mixin" as *;

.admin-logo{
  @include flex-base();
  position: relative;
  width: 100%;
  border-bottom: 1px solid var(--menu-border-color);
  background-color: var(--header-bg-color);
  z-index: var(--z-index-b);
  & a{
    display: inline-flex;
    align-items: center;
    margin-left: var(--mg-ultra-large);
    text-decoration: none;
    cursor: pointer;
  }
  & img{
    width: 24px;
    margin-right: var(--mg-medium);
  }
  & #admin-logo-text{
    margin-right: var(--mg-medium);
    white-space: nowrap;
    font-weight: bolder;
    overflow: clip;
  }
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}
.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(-20px);
  opacity: 0;
}