@use "../../scss/mixin/mixin" as *;

.admin-theme{
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.layout-grid{
  @extend .layout-base;
}

.theme-grid{
  @extend .layout-grid;
}

.theme-header-ht{
  height: var(--header-height);
}

.menu-collapse{
  @extend .layout-base-collapse;
}

.theme-left-wrapper{
  height: 100%;
  border-right: 1px solid var(--menu-border-color);
  overflow: hidden;
}

.theme-right-wrapper{
  overflow: auto;
}
