.admin-avatar{
  height: 100%;
}

.avatar-base{
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  &:hover .avatar-expand{
    transform: translateY(4px);
    color: var(--header-text-hover-color);
  }
}

.avatar-expand{
  transition: all var(--duration-quick);
}

.avatar-card{
  position: absolute;
  right: 10px;
  top: 54px;
  width: 220px;
  height: 220px;
  padding: 10px 0;
  border: 1px solid var(--menu-bd-color);
  border-radius: var(--border-radius-large);
  background-color: var(--header-bg-color);
  box-shadow: var(--color-shadow-large);
  & li{
  }
  & .li-information{
    line-height: 60px;
    text-align: center;
  }
  & .li-btn{
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    line-height: 32px;
    padding-left: 20px;
    cursor: pointer;
    &:hover{
      color: #FFFFFF;
      background-color: #2891ff;
      & svg{
        color: #FFFFFF;
      }
    }
  }
  & .li-divider{
    height: 1px;
    margin: 10px 0;
    background-color: var(--menu-bd-color);
  }
}