@use "../../scss/mixin/mixin" as *;

.admin-header{
  @include flex-base();
  padding: 0 var(--pd-large);
  background-color: var(--header-bg-color);

  & .star-container{
    @include grid-base(var(--btn-height) 1px var(--btn-height));
    position: relative;
    height: var(--btn-height);
    border: var(--border-1);
    border-radius: var(--border-radius-medium);
    & .split{
      display: block;
      height: 68%;
      background-color: var(--border-color);
    }
  }
}

.admin-avatar details{
  @include flex-base();
  height: var(--btn-height);
  border: 0;
  background-color: var(--color-header-btn);
  padding: 0 var(--pd-ultra-small);
  border-radius: var(--border-radius-round-medium);
  color: var(--color-white);
  & summary{
    width: max-content;
  }
  & summary svg:nth-child(2){
    margin-left: var(--mg-small);
  }
}

.header-star-menu{
  & .header-star-menu-panel{
    position: absolute;
    top: 40px;
    right: 0;
    width: var(--panel-width-medium);
    border: 1px solid var(--color-white) {
      radius: var(--border-radius-large);
    };
    color: var(--color-black-1);
    background-color: var(--panel-bg-color);
    box-shadow: var(--box-shadow-large);
    z-index: var(--z-index-f);

    &__body{
      display: grid;
      overflow: auto;
      & ul{
        height: 366px;
        margin: var(--mg-small);
      }

      & li{
        margin-bottom: var(--mg-small);
        border-radius: var(--border-radius-small);
        &:hover{
          background-color: #ECF5FF;
        }
      }

      & .nav-item{
        display: inline-block;
        width: 100%;
        line-height: var(--lh-medium);
        padding: {
          right: var(--pd-small);
          left: var(--pd-large);
        };
        border-radius: inherit;
        text-decoration: none;
      }

      & a[aria-current='page']{
        color: var(--color-blue);
        font-weight: bolder;
      }
    }
  }
}
