.admin-header{
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--menu-bd-color);
  background-color: var(--header-bg-color);
  backdrop-filter: blur(5px);
  z-index: var(--z-index-z);
}

.header-menu-card{
  position: relative;
  height: 100%;
  & .header-menu-panel{
    position: absolute;
    top: 54px;
    width: 260px;
    border: 1px solid var(--menu-bd-color);
    border-radius: var(--border-radius-extra-large);
    background-color: var(--bg-color);
    box-shadow: var(--color-shadow-large);
  }
  & .menu-panel-content{
    display: grid;
    height: 400px;
    overflow: auto;
    & ul{
      height: 334px;
      margin: 12px;
    }

    & .menu-item{
      display: grid;
      grid-template-columns: 1fr 10px;
      align-items: center;
      height: 40px;
      line-height: 40px;
      padding: 0 10px;
      border-radius: var(--border-radius-small);
      margin-bottom: 6px;
      cursor: pointer;
      &:hover{
        background-color: var(--menu-hover-color);
      }
      & i{
        display: flex;
        align-items: center;
      }
      & .menu-cache {
        width: 8px;
        height: 8px;
        border-radius: var(--border-radius-small);
        background-color: #2BC385;
      }
    }

    & .menu-active{
      border-left: 0;
      background-color: var(--menu-active-bg-color);
    }
  }
}

.menu-collapse-icon {
  & svg{
    transition: transform 0.3s;
  }
  & .icon-rotate{
    transform: rotate(180deg);
  }
}