@use "../../scss/mixin/mixin" as *;

.admin-theme{
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.layout-grid{
  @extend .layout-base;
}

/*-------主题--default--布局-------*/
.theme-grid{
  @extend .layout-grid;
}
.theme-header-ht{
  height: var(--header-height);
}

/*-------主题--2--布局-------*/
.theme2-grid{
  @extend .layout-grid;
  height: calc(100vh - var(--header-height-large));
}
.theme2-header-ht{
  height: var(--header-height-large);
  &__top{
    height: 56px;
  }
  &__nav{
    height: 48px;
  }
}

/*-------通用主题布局-------*/
.menu-collapse{
  @extend .layout-base-collapse;
}
.theme-left-wrapper{
  height: 100%;
  border-right: 1px solid var(--menu-border-color);
  overflow: hidden;
}
.theme-right-wrapper{
  overflow: auto;
}
