@use "../../scss/mixin/mixin" as *;

.header-menu-dot::before {
  content: "•";
  position: absolute;
  left: 5px;
  border-radius: var(--border-radius-small);
  font-size: var(--h4-size);
  color: #2BC385;
}

.menu-collapse-icon {
  & svg{
    transition: transform 0.3s;
  }
  & .icon-rotate{
    transform: rotate(180deg);
  }
}

.header-btn{
  @include header-btn;
}
.header-btn + button{
  margin-left: var(--mg-medium);
}