@use "../../scss/mixin/mixin" as *;
@use "./admin-theme-public" as tp;

.admin-theme{

  .main-grid{
    min-height: calc(100vh - var(--header-nav-height));
  }

  .theme-content{
    margin: var(--mg-large);
  }

  .theme2-nav{
    position: relative;
    height: var(--nav-height);
    border-bottom: var(--border-1);
    &__left{
      @include flex-base(true);
      height: 100%;
      border-right: var(--border-1);
    }

    &__right{
      ul{
        @include flex-base();
        height: 100%;
        overflow: hidden;
      }
      & .nav-item-li{
        position: relative;
        flex-shrink: 0;
        flex-basis: 190px;
        margin-left: var(--mg-medium);
      }
      & .nav-item{
        display: block;
        line-height: var(--lh-small);
        border: var(--border-1);
        border-radius: var(--border-radius-medium);
        padding: {
          right: var(--pd-small);
          left: var(--pd-large);
        };
        text-decoration: none;
      }

      & a[aria-current='page']{
        font-weight: bolder;
        color: var(--color-blue);
      }
      & a[aria-current='page'] + button{
        color: var(--color-blue);
      }
    }
  }
}