.admin-avatar{
  height: 100%;
}

.avatar-base{
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  &:hover .avatar-expand{
    transform: translateY(4px);
    color: var(--header-text-hover-color);
  }
}

.avatar-expand{
  transition: all var(--duration-quick);
}

.avatar-card{
  position: absolute;
  right: 10px;
  top: 54px;
  width: 260px;
  height: 240px;
  padding: 20px;
  border: 1px solid var(--panel-bd-outer-color);
  border-radius: var(--border-radius-large);
  color: var(--color-black-2);
  background-color: var(--panel-bg-color);
  box-shadow: var(--color-shadow-large);
  & .li-information{
    line-height: 60px;
    text-align: center;
  }
  & .li-btn{
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    line-height: 40px;
    cursor: pointer;
    &:hover{
      color: var(--color-blue) !important ;
    }
  }
  & .li-divider{
    height: 1px;
    margin: 15px 0;
    background-color: var(--panel-bd-inner-color);
  }
}