@use "../../scss/mixin/mixin" as *;
@use "./admin-theme-public" as tp;

.admin-theme{
    .page-header{
        height: var(--nav-height);
        border-bottom: var(--border-1);
        align-items: start;
        &__menu-btn{
            display: flex;
            justify-content: flex-end;
            height: var(--nav-height);
            border-bottom: var(--border-1);
            border-right: var(--border-1);
            padding-right: var(--pd-medium);
            &-hidden {
                button[data-hidden='true']{
                    visibility: hidden;
                }
                button[data-hidden='false']{
                    transform: translateX(-10px);
                }
            }
        }

        &__menu{
            @include flex-base();
            padding: 0 var(--pd-large);
        }
    }
}

