@use "../../scss/mixin/mixin" as *;
@use "./admin-theme-public" as tp;

.admin-theme{
  &__nav{
    z-index: var(--z-index-f);
   & ul{
     @include flex-base(true);
     height: var(--nav-height);
     padding: 0 var(--pd-medium);
     border-bottom: var(--border-1);
     background-color: var(--header-bg-color);

     & .nav-item{
       @include flex-base();
       height: var(--lh-small);
       padding: 0 var(--pd-medium);
       text-decoration: none;
       border-radius: var(--border-radius-medium);
       font-size: var(--body-font-size);
       & svg{
         width: var(--h3-size);
         height: var(--h3-size);
         margin-right: var(--mg-ultra-small);
         color: var(--header-text-color);
       }
       &:hover{
         background-color: var(--menu-hover-color);
       }
     }

     & a[aria-current='page']{
       background-color: var(--color-blue);
       color: var(--color-white);
       &:hover{
         background-color: var(--color-blue);
         color: var(--color-white);
       }
     }
   }
  }
}