@use "../mixin/mixin" as *;

.admin-menu-top{
    position: relative;
    margin-left: var(--mg-small);
}
.menu-summary{
    display: flex;
    align-items: center;
    color: var(--color-white);
    padding: 0 var(--pd-medium);
}

.top-menu-panel{
    position: absolute;
    top: 40px;
    left: 0;
    right: var(--mg-medium);
    width: 600px;
    height: 320px;
    min-height: 320px;
    padding: var(--pd-large);
    border: 1px solid var(--color-white) {
        radius: var(--border-radius-large)
    };
    color: var(--color-black-1);
    background-color: var(--panel-bg-color);
    box-shadow: var(--box-shadow-large);
    z-index: var(--z-index-f);
}
.top-menu-nav{
    display: flex;
    height: 100%;
    & .top-menu-column{
        width: 160px;
        height: 100%;
        background-image: linear-gradient(to bottom, #7a7a7a 10%, rgba(255, 255, 255, 0) 10%);
        background-position: left top;
        background-repeat: repeat-y;
        background-size: 1px 8px;

        & .menu-group-title{
            position: relative;
            line-height: var(--lh-medium);
            padding-left: var(--pd-large);
            color: var(--color-black-9);
            &::before{
                content: "•";
                position: absolute;
                left: -3px;
                font-size: var(--h4-size);
            }
        }
        & .nav-item{
            @include flex-base();
            height: var(--lh-medium);
            padding: 0 var(--pd-large);
            text-decoration: none;
            font-size: var(--body-font-size);
            border-left: 1px solid transparent;
            &:hover{
                color: var(--color-blue) !important;
                border-left-color: var(--color-blue);
            }
        }

        & a[aria-current='page']{
            color: var(--color-blue);
            font-weight: bolder;
        }
    }
    & .top-menu-column:last-child{
        border-right: 0;
    }
}