.admin-el-menu{
    height: calc(100% - var(--header-height));
    border: 0;
    margin: var(--mg-ultra-small);
    overflow-x: hidden;
    overflow-y: auto;
}

.el-popper.is-light{
    border-color: var(--menu-border-color);
}

.el-menu-item, .el-sub-menu__title{
    margin-bottom: var(--mg-small);
    border-radius: var(--border-radius-small);
}

.menu-icon{
    display: flex;
    align-items: center;
    margin-right: var(--mg-small);
    vertical-align: middle;
    text-align: center;
}

.menu-active{
    font-weight: bolder;
}