.admin-el-menu{
    width: 100%;
    height: calc(100% - var(--header-height));
    border: 0;
    padding: var(--mg-ultra-small);
    overflow-x: hidden;
    overflow-y: auto;
}

.admin-el-menu .el-menu{
    border: 0;
}

.el-menu-item, .el-sub-menu__title{
    margin-bottom: var(--mg-small);
    border-radius: var(--border-radius-small);
}

.menu-icon{
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-right: var(--mg-small);
    text-align: center;
}

.menu-active{
    font-weight: bolder;
}