@use "../mixin/mixin" as *;

.admin-menu-top-child{

    & .menu-label{
        line-height: var(--lh-medium);
        padding-left: calc(var(--menu-level) * var(--menu-base-level-padding));
        color: var(--color-black-9);
        font-weight: bolder;
    }

    & .menu-item .nav-item{
        padding-left: calc(var(--menu-level) * var(--menu-base-level-padding));
    }
}