.admin-el-menu{
    border: 0;
    margin-top: 20px;
}

.el-menu-item{
    margin-bottom: 6px;
}
.el-popper.is-light{
    border-color: var(--menu-bd-color);
}
.el-menu-item:hover{
    background-color: var(--menu-hover-color);
}

.menu-icon{
    display: flex;
    align-items: center;
    margin-right: 10px;
    vertical-align: middle;
    text-align: center;
}
.menu-active{
    border-left: 2px solid var(--menu-active-bd-color);
    background-color: var(--menu-active-bg-color);
    color: var(--menu-active-color) !important;
}
.menu-active:hover{
    background-color: var(--menu-active-bg-color) !important;
}